html, body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
	font-family: Arial;
	height: 100%;
}

#container {
	margin: 30px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	height: 100%;
	display: flex;
	justify-content: center;
}